body{
background:transparent;
    
}

#digital-clock {
 background-color: #000000;
 color: rgb(255, 255, 255);
 width: 280px;;
 margin: auto;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 10px;
 padding-bottom: 12px;
 border-radius:5px;
 font-family:DS-Digital;
 font-size: 42px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
